// Variables

// Gray and Brand Colors for use across theme

$theme-primary: #2C3E50;
//$theme-primary: #536170;
//$theme-success: #0d3370;
$theme-success: #0f4396;
$theme-hover: #f6f92a;
$theme-butlink: #0f4396;


$gray-base: #000;
$gray-darker: lighten($gray-base, 13.5%);
$gray-dark: lighten($gray-base, 20%);
$gray: lighten($gray-base, 33.5%);
$gray-light: lighten($gray-base, 46.7%);
$gray-lighter: lighten($gray-base, 93.5%);
