// Styling for the masthead
header.masthead {
  padding-top: 200px;
  padding-bottom: 100px;

  text-align: center;

  color: white;
  background: $theme-success;
  img {
    display: block;

    margin: 0 auto 20px;
  }
  .intro-text {
    .name {
      font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-size: 2em;
      font-weight: 700;

      display: block;

      text-transform: uppercase;
    }
    .skills {
      font-size: 1.25em;
      font-weight: 300;
    }
  }
}
@media(min-width:768px) {
  header.masthead {
    padding-top: 120px;
    padding-bottom: 20px;
    .intro-text {
      .name {
        font-size: 1.75em;
      }
      .skills {
        font-size: 1.75em;
      }
    }
  }
}
